<div class="row" id="row1" >
  <div class="col-sm-10 col-sm-offset-1">
<div ng-repeat="member in team">
      <div class="col-md-6 mg-bottom-40">
        <div class="psy-name">{{member.name}}</div>
        <p class="psy-about">{{member.about}}</p>
              <map-canvas ng-if="member.has_map" address="{{member.map_address}}" selectormap="{{member.map_selector}}"></map-canvas>
          <div class="{{member.address_class}}">
            <p><u>{{member.address_title}}</u></p> 
            <div ng-repeat="line in member.address_lines">
              <b>{{line.title}}</b> {{line.line}}</br>  
            </div>        
            <b><i class="fa fa-mobile"></i> {{member.tel}}</b>                            
        </div>
      </div>
  </div>

      <!--
      
      <div class="col-md-6 mg-top-20">

        <div class="psy-name">Joanna Wesołowska</div>
        <p class="psy-about">
          Lekarz specjalista psychiatra i psychoterapeutka. Absolwentka Uniwersytetu Medycznego w Warszawie. Doświadczenie zawodowe
          zdobywała w Szpitalu Bielańskim, Instytucie Psychiatrii i Neurologii, Szpitalu Nowowiejskim oraz w trakcie licznych
          staży specjalizacyjnych. Ukończyła szkolenie w zakresie terapii psychoanalitycznej w Instytucie Analizy Grupowej
          Rasztów. Prowadzi psychoterapię grupową i psychoterapię indywidualną osób dorosłych.
        </p>
          <div class="col-md-12 address">
            <p><u>Adresy</u></p> 
<b>Centrum Terapii Indygo</b>, ul. Mikołajczyka 1 lok 12 <b>/</b><br>
<b>Centrum Terapii Promitis</b>, ul. Garibaldiego 4 lok. 2p <b>/</b><br>
<b>Instytut konsultacyjno terapeutyczny Inversa</b>, ul.Bukowińska 26b<br>
 Warszawa </br>
            <b><i class="fa fa-mobile"></i> 733 626 777</b>                            
        </div>          
      </div>-->

  </div>
</div>

